<%- include('../partials/header.ejs') %>
<h2><%=title%></h2>
<p>Lebron James Is the Greatest Of All Time</p>
<p>OKC 2025 NBA Champs</p>
<p>Dalls has the #1 pick in the 2025 NBA Draft</p>
<img src="/images/James_LeBron.jpg" alt="lebron" style="width: 100%; height: auto; object-fit: cover;">
<%- include('../partials/footer.ejs') %>