<%- include('../partials/header.ejs') %>
<h2><%=title%></h2>
<p>The Nissan GT-R is nicknamed “Godzilla” because it dominated Aussie races like a beast from Japan.</p>
<p>Turbos don't make power—they just shove in more air so your engine can make more power.</p>
<p>Manual transmissions give you better control and are lighter, which is why track junkies love 'em.</p>
<img src="/images/GTR.jpg" alt="" style="width: 100%; height: auto; object-fit: cover;">
<%- include('../partials/footer.ejs') %>