<%- include('../partials/header') %>
<h1><%=title%></h1>
<img src="/images/Great-White-Shark.jpg" alt="Great White Shark" class="img-fluid mb-3">
<img src="/images/360_F.jpg" alt="360 F" class="img-fluid mb-3">
<p>Clever content goes here</p>
<p>Clever content goes here</p>
<p>Clever content goes here</p>
<p>Clever content goes here</p>
<p>Clever content goes here</p>
<%- include('../partials/footer') %>